<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container mt-5">
        <h1>Image upload</h1>
        <p>Please don't upload such face image</p>
        <ul>
            <li>The number of faces detected exceeds the value of the MaxFaces request parameter.</li>
            <li>The face is too small compared to the image dimensions.</li>
            <li>The face is too blurry.</li>
            <li>The image is too dark.</li>
            <li>The face has an extreme pose.</li>
            <li>The face doesn’t have enough detail to be suitable for face search.</li>
        </ul>
        <form action="/upload" method="post" id="upload_form" enctype="multipart/form-data">
            <div class="form-group row">
                <label for="image" class="col-sm-2 col-form-label">Select Face Image File</label>
                <div class="col-sm-10">
                    <input type="file" class="form-control" id="image" name="face_image" accept="image/*">
                </div>
            </div>
            <div class="form-group row">
                <label for="face_name" class="col-sm-2 col-form-label">Enter Name of Face</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="face_name" id="face_name">
                </div>
            </div>
            <div class="form-group row">
                <label for="video" class="col-sm-2 col-form-label">Select Target Video File</label>
                <div class="col-sm-10">
                    <input type="file" class="form-control" id="video" name="target_video" accept="video/*">
                </div>
            </div>
            <button type="submit" class="btn btn-primary" id="upload_button">
                <span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
                Upload
            </button>    
        </form>
    </div>
    <script>
        document.getElementById("upload_form").addEventListener("submit", function() {
            document.getElementById("upload_button").disabled=true;
            document.getElementById("upload_button").querySelector(".spinner-border").classList.remove("d-none");
        });
    </script>
</body>
</html>